:root{
    --main-font: "Poppins"
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
}

html {
  font-family: var(--main-font);
  box-sizing: border-box;
  font-size: 14px;
}
a {
  text-decoration: none;
  color: var(--black);
}

li {
  list-style-type: none;
}

button {
  font: inherit;
  cursor: pointer;
}

img {
  vertical-align: top;
}

/*-------------------header---------------------------------------*/
.header{
  margin: 31px 129px 75px 31px;
}
.header__logo{
    font-size: 36px;
    font-weight: 400;
    color: transparent;
    color: #000;
}
.header__logo span{
    color: #939393;
}
.header__menu-list{
    
    display: flex;
    gap: 38px;
    list-style-type: none;
}
.header__menu-link{
  font-size: 20px;
  font-weight: 500;
  color: rgba(38, 50, 56, 1);
  position: relative;
  display: inline-block; 
  text-decoration: none; 
}

.header__menu-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px; 
  bottom: -5px; 
  left: 50%;
  transition: width 0.3s ease, left 0.3s ease; 
}

.header__menu-link:hover::after {
  width: 100%;
  left: 0;
  background-color: rgba(38, 50, 56, 1); 
}

.header__conteiner{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 1200px; 
}
.header__button{
    font-size: 20px;
    font-family: "Poppins";
    font-weight: 500;
    color: rgba(38, 50, 56, 1);
    padding: 17px 57px;
    border: 2px solid #000;
    border-radius: 4px;
    transition: 3ms;
}
.header__button:hover{
  color: #fff;;
  background-color: #263238;
}
/*-----------------------home-----------------*/
.home{
  margin-left: 129px;
  margin-right: 123px;
  display: flex; 
  justify-content: space-between;
  align-items: center;
}
.home__description{
  max-width: 50%;
}
.home__description-title{
   font-size: 64px;
   font-family: "Poppins";
   font-weight: 600;
   color: rgba(0, 0, 0, 1);
}
.home__description-text{
  font-size: 24px;
  font-family: "Poppins";
  font-weight: 400;
  color: rgba(143, 149, 165, 1);
  padding-bottom: 61px;
}
.home__decription-box{
  display: flex;
  align-items: center;
  padding-bottom: 40px;
  
}
.home__description-icon{
  padding-right:143.25px ;
}
.home__img{
  max-width: 50%;
}
.home__description-button{
  padding: 32px 117px 32px 118px;
  font-size: 36px;
  font-family: "Poppins";
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  background-color: #263238;
  border-radius: 10px;
}
.home__description-button:hover,
.home__description-button:focus{
  background-color: #265478;
}
/*---------------------skills-----------------------*/
.skills{
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px; 
  display: grid;
  gap: 2em;
  justify-content: center;
  align-items: center;
}
.skills__title{
  font-size: 48px;
  font-family: "Poppins" sans-serif;
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;   
  width: 100%; 
}


.skills__secondary-title{
  font-size: 30px;
font-family: "Poppins";
font-weight: 600;
color: rgba(38, 50, 56, 1);

}
.skills__text{
  font-size: 16px;
font-family: "Poppins";
font-weight: 400;
color: rgba(143, 149, 165, 1);

}
.skills__button{
  font-size: 18px;
font-family: "Poppins";
font-weight: 500;
color: rgba(255, 255, 255, 1);
padding: 17px 63px 16px 64px;
background-color:  #263238;
border-radius: 10px;
}
.skills__button:focus,
.skills__button:hover{
  background-color: #265478;
}
.skills__list{
  display: grid;
  gap: 2em;
  grid-template-columns: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.skills__item {
  background: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  text-align: center;
  border-radius: 10px;
  padding: 2em 1em;
}

@media screen and (min-width: 767px) {
  .skills__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .skills__item:nth-child(1) {
    grid-row: span 2;
  }

  .skills__item:nth-child(1) .skills__img {
    height: auto;
  }
}

@media screen and (min-width: 992px) {
  .skills__item:nth-child(4) {
    grid-column: 2 / span 2; 
    grid-row: 2 / span 1;
    flex-direction: row; 
  }

  .skills__item:nth-child(4) .skills__img {
    order: 2; 
    padding-right: 1em; 
  }

  .skills__item:nth-child(4) .skills__content {
    align-self: center;
    text-align: left; 
  }
}
.skills__item {
  background: #e5e5e5;
  border-radius: 10px;
  padding: 2em;
  display: flex;
  flex-direction: row; 
  justify-content: center; 
  align-items: center; 
  text-align: left; 
}

.skills__content {
  flex: 1;
  margin-right: 2em; 
}

.skills__img {
  flex: 0 0 auto; 
}

.skills__button {
  margin-top: 1em; 
  align-self: start; 
}
.skills__item {
  flex-direction: column; 
}

.skills__text-container {
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
}

.skills__button {
  margin-top: 1em;
}

.skills__img {
  align-self: center; 
  margin-left: 2em; 
}
/*------------------about us---------------------*/
.about{
  margin-left: 131px;
  margin-right: 140px;
  display: flex; 
  justify-content: space-between;
  align-items: center;  
  margin-top: 100px;
}
.about__description{
  max-width: 50%;
}
.about__description-title{
  font-size: 48px;
  font-family: "Poppins" sans-serif;
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 23px;   
  width: 100%; 
}
.about__description-text{
  font-size: 24px;
  font-family: "Poppins";
  font-weight: 400;
  color: rgba(143, 149, 165, 1);
  padding-bottom: 61px;
}

.about__img{
  max-width: 50%;
}
.about__description-list{
  display: flex;
  gap: 120px;
}
.about__description-item h3{
  font-size: 48px;
font-family: "Poppins";
font-weight: 600;
color: rgba(42, 50, 70, 1);
}
.about__description-item p{
  font-size: 20px;
font-family: "Poppins";
font-weight: 400;
color: rgba(143, 149, 165, 1);
}
/*---------------pricing----------------------*/
.pricing{ 
  margin-left: 122px;
  margin-right: 117px;

  display: grid;
  gap: 2em;
  justify-content: space-between;;
  align-items: center;
}
.pricing__item{
  flex: 1;
}
.pricing__title {
  font-size: 48px;
  font-family: "Poppins" sans-serif;
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  margin-top: 100px;
  margin-bottom: px;   
  width: 100%; 
}
.pricing__secondary-title{
  font-size: 30px;
font-family: "Poppins";
font-weight: 600;
color: rgba(38, 50, 56, 1);
padding-bottom: 14px;
padding-top: 20px;
}
.pricing__list {
  display: flex;
  gap: 80px; 
}

.pricing__text{
  font-size: 20px;
font-family: "Poppins";
font-weight: 400;
color: rgba(143, 149, 165, 1);
}
.pricing__count{
  padding: 7px 18px 7px 18px;
  background-color: #F5F5F5;
  border-radius: 10px;
  display: flex;
  align-items: center;
  width: 240px;
  height: 45px;
  margin-top: 31px;
}
.pricing__count-money{
  font-size: 30px;
  font-family: "Poppins";
  font-weight: 400;
  color: rgba(38, 50, 56, 1);
}
.pricing__count-time{
  padding-left: 4px;
  font-size: 18px;
font-family: "Poppins";
font-weight: 400;
color: rgba(84, 98, 105, 1);
}
/*----------contact us-----------*/
.contact{
  display: flex;
  gap: 111px;
  justify-content: center;
  margin-top: 80px;
  margin-left: 120px;
  margin-right: 120px;
}
.contact__title {
  font-size: 48px;
  font-family: "Poppins" sans-serif;
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
  margin-top: 100px;
  margin-bottom: px;   
  width: 100%; 
}
.contact__text{
  font-size: 20px;
font-family: "Poppins";
font-weight: 400;
color: rgba(143, 149, 165, 1);
padding-bottom: 20px;
}
.contact__form{
  display: flex;
}
.contact__form input{
  border: 1px solid #8F95A5;
  border-radius: 4px;
  width: 450px;
  height: 80px;
}
.contact__form input::placeholder{
  font-size: 16px;
font-family: "Poppins";
font-weight: 400;
color: rgba(143, 149, 165, 1);
padding-top: 26px;
padding-left: 33px;
padding-bottom: 30px;
}
.contact__button{
  font-size: 20px;
font-family: "Poppins";
font-weight: 500;
color: rgba(255, 255, 255, 1);
background-color: #263238;
border-radius: 10px;
padding: 25px 81px 25px 82px;
margin-left: 12px;
}
.contact__button:hover,
.contact__button:focus{
  background-color: #265478;;
}
.contact__form input:hover{
  color:#263238;
}
/*---------footer----------------*/
.footer__link{
  font-size: 16px;
font-family: "Poppins";
font-weight: 400;
color: rgba(143, 149, 165, 1);
text-decoration: none;
margin: 0 10px;
}
.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px; 
  border-top: 2px solid #C4C4C4;
}
/*-----------modalka------------*/