.footer {
    align-items: center;
    padding: 30px;
    border-top: 2px solid #C4C4C4;
    &__conteiner{
        display: flex;
        max-width: 1360px;
        justify-content: space-between;
        margin: auto;
		width: 100%;
    }
    &__link {
        font-size: 16px;
        font-family: "Poppins";
        font-weight: 400;
        color: rgba(143, 149, 165, 1);
        text-decoration: none;
        margin: 0;
    }
    &__link:not(:last-child)::after{
        content: "•"; 
        color: rgba(143, 149, 165, 1);
        margin: 0;  
    }
    @media (max-width:767px) {
        &__conteiner{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            line-height: 25px;
        }
        &__links{
            text-align: center;
        }
        
    }
}