$zIndexLogo: 11;
$zIndexBurgerButton: 11;
$zIndexBurgerMenu: 10;


.block-scroll {
	overflow: hidden;
}

.button {
	font-size: 20px;
	font-family: "Poppins";
	font-weight: 500;
	color: rgba(38, 50, 56, 1);
	padding: 17px 57px;
	border: 2px solid #000;
	border-radius: 4px;
	transition: 3ms;

	&:hover {
		color: #fff;;
		background-color: #263238;
	}
}

.header {
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;

		height: 100px;

	}

	&__logo {
		position: relative;
		z-index: $zIndexLogo;
		font-size: 36px;
		color: transparent;
		color: #000;

		span {
			color: #939393;
		}
	}

	&__nav {
		@media (max-width: 992px) {
			display: none;
		}
	}

	&__button {
		&_pc {
			@media (max-width: 992px) {
				display: none;
			}
		}


	}

	&__burger-menu {
		position: fixed;
		z-index: 10;
		top: 0;
		right: -100%;

		display: flex;
		overflow: auto;
		align-items: center;
		justify-content: center;

		width: 100%;
		height: calc(var(--vh, 1vh) * 100);
   		padding: 48px 40px;

		transition: right 0.3s ease;

		background-color: #fff;

		&_open {
			right: 0;
		}

		@media (min-width: 992px) {
			display: none;
		}
	}

	&__burger-button {
		position: relative;
		z-index: 11;
		@media (min-width: 992px) {
			display: none !important;
		}
	}
}
.logo {
}
.nav {
	$p: &;	

	&_default {
		

		#{$p} {
			&_burger-menu {
				
			}
		
			&__list {
				column-gap: 32px;
			}
		
			&__item {
			}
		
			&__link {
				font-size: 20px;
			font-family: "Poppins";
			font-weight: 500;
			color: rgba(38, 50, 56, 1);
			height: 30px;
						}
					}
	}

	&_burger-menu {
		width: 100%;
		
		#{$p} {
		
			&__list {
				margin-top: -200px;
				position: fixed;
				flex-direction: column;
				justify-content: center;

				
				row-gap: 40px;
			}
		
			&__item {
		
			}
		
			&__link {
				padding: 0 20px;

				font-size: 34px;
			}
			
		}
	}

	&__list {
		display: flex;
	}

	&__item {		  
	}
	&__link{
			font-size: 20px;
			font-weight: 500;
			color: rgba(38, 50, 56, 1);
			position: relative;
			display: inline-block;
			text-decoration: none;
	
			&::after {
				content: '';
				position: absolute;
				width: 0;
				height: 2px;
				bottom: -5px;
				left: 50%;
				transition: width 0.3s ease, left 0.3s ease;
			}
	
			&:hover::after {
				width: 100%;
				left: 0;
				background-color: rgba(38, 50, 56, 1); 
			  }
	
		}
	
	&__link {
		display: block;
	}
}




.burger-button {
   $p: &;
   display: flex;
   flex-direction: column;
   gap: 4px;

   

   // .burger-button__item

   &::before, &::after {
      content: "";
      transform: rotate(0);
      transform-origin: 1.5px 50%;
   }
   

   &__item, &::before, &::after {
      width: 24px;
      height: 3px;

      transition: 
         transform 0.3s ease,
         opacity 0.3s ease;

      background: #212121;
   }


   &_open {
      #{$p} {
         &__item {
            opacity: 0;
         }
      }

      &::after {
         transform: rotate(-45deg);
         
      }
      &::before {
         transform: rotate(45deg);
         
      }
   }
}
